body {
  background-image: url(/Background.png);
  margin: 0;
}
.map-container {
  width: 100%;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.cursor {
  position: fixed;
  top: calc(50% - .5rem + 8px);
  left: calc(50% - .5rem + 16px);
  pointer-events: none;
  font-size: 8px;
}

.clickEffect {
  position: fixed;
  border-width: 0.5px;
  border-style: solid;
  border-color: #444;
  border-radius: 50%;
  z-index: 99;
  animation: clickEffect 0.1s;
}

@keyframes clickEffect {
  0% {
    width: 0.5px;
    height: 0.5px;
    margin: -0.25px;
  }
  100% {
    opacity: 0.2;
    width: 15px;
    height: 15px;
    margin: -7.5px;
  }
}